<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>This is the about page</h1>
	<p>Let's make a blog app, this is where the about is</p>
	<%= link_to 'Home', root_path %>
</body>
</html>