$navbar-default-bg: #086bac;





@import "bootstrap-sprockets";
@import "bootstrap";

a:hover {
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fbfcff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fbfcff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_home.png');
  height: 500px;
  background-size: cover;
}

.jumbotron h1 {
  color: #086bac;
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
}

.btn-xlarge {
  top: 50px;
  font-size: 1.0em;
  background-color: #086bac;
}

.btn:hover {
  color: #fbfcff;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 0.5px thick #086bac;
  width: 100%;
  background-color: #086bac;
}

footer a:hover {
  color: #fbfcff
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article_actions {
  border-top: 1px solid #086bac;
  padding-top: 5px;
}

.description {
  margin-top: 0;
  border-bottom: 1px solid #086bac;
  padding-bottom: 5px;
}

.article_title {
  font-weight: bold;
  font-size: 1.5em;
}

.article_body {
  border-top: 1px solid #fbfcff;
  padding-top: 15px;
  padding-bottom: 15px;
}
