<div class="container">
  <footer>
    <small>
      Copyright &copy; 2017 <a href="http://www.medcapital.com.br" target="_blank">MedCapital</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path%></li>
      </ul>
    </nav>

  </footer>
</div>
